<html><head><title>Our admins and users</title></head>
{# This is a short example to give you a quick overview of pongo2's syntax. #}

{% macro user_details(user, is_admin=false) %}
	<div class="user_item">
		<!--&lt;!&ndash; Let's indicate a user's good karma &ndash;&gt;-->
		<!--<h2 {% if (user.karma >= 40) || (user.karma > calc_avg_karma(userlist)+5) %}-->
			<!--class="karma-good"{% endif %}>-->

			<!--&lt;!&ndash; This will call user.String() automatically if available: &ndash;&gt;-->
			<!--{{ user }}-->
		<!--</h2>-->

		<!--&lt;!&ndash; Will print a human-readable time duration like "3 weeks ago" &ndash;&gt;-->
		<!--<p>This user registered {{ user.register_date|naturaltime }}.</p>-->

		<!--&lt;!&ndash; Let's allow the users to write down their biography using markdown;-->
		     <!--we will only show the first 15 words as a preview &ndash;&gt;-->
		<!--<p>The user's biography:</p>-->
		<!--<p>{{ user.biography|markdown|truncatewords_html:15 }}-->
			<!--<a href="/user/{{ user.id }}/">read more</a></p>-->

		<!--{% if is_admin %}<p>This user is an admin!</p>{% endif %}-->
	</div>
{% endmacro %}

<body>
	<!-- Make use of the macro defined above to avoid repetitive HTML code
	     since we want to use the same code for admins AND members -->

	<h1>Our admins</h1>
	{% for admin in adminlist %}
		{{ user_details(admin, true) }}
	{% endfor %}

	<h1>Our members</h1>
	{% for user in userlist %}
		{{ user_details(user) }}
	{% endfor %}
</body>
</html>