{% extends "../layout.html" %}

{% block content %}
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        Amaze UI 首页组件
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">分类</a></li>
        <li class="am-active">内容</li>
    </ol>
    <div class="tpl-content-scope">
        <div class="note note-info">
            <h3>Amaze UI 为移动而生
                <span class="close" data-close="note"></span>
            </h3>
            <p> Amaze UI 含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
            <p><span class="label label-danger">提示:</span> Amaze UI 关注中文排版，根据用户代理调整字体，实现更好的中文排版效果。
            </p>
        </div>
    </div>
</div>
{% endblock %}