{% extends "../layout.html" %}

{% block newcss %}
<link rel="stylesheet" href="/static/css/bootstrap-table.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3 class="page-title">Keys</h3>
    <p style="display: none" id="hiddenpostdata">{{ redissstr }}</p>
    <div class="row" id="tablerow">
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 5px;padding-bottom: 5px">
                        <div class="col-md-7" style="margin-left: -15px">
                            <select class="form-control" id="redis_select">
                                {% for redis in rediss %}
                                <option value="{{redis}}">{{redis}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">db</span>
                                <select class="form-control" id="redis_db_select">
                                </select>
                            </div>
                            <p style="display: none" id="db_map">{{db_map}}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;padding-bottom: 5px">
                        <div class="input-group">
                            <span class="input-group-addon">keys</span>
                            <input type="text" id="keys_form" class="form-control" placeholder="*">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;padding-bottom: 5px;margin-top: 15px;padding-top: 10px;border-top: double;border-top-color: #9eacb4;">
                        <div class="col-md-2" style="margin-left: -15px">
                            <button type="button" class="btn btn-danger" id="keysdelbutton">删除</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" id="keysPersistbutton">设为永久</button>
                        </div>
                        <div class="col-md-8" style="margin-left: 15px">
                            <div class="input-group">
                                <input type="number" class="form-control" id="ttlseconds">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="keyssetttlbutton">设置过期</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <button class="btn btn-primary" type="button" id="newkey">新建key</button>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <table id="keystable"></table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-7" id="keys_body_row" style="display: none">

                <div class="panel">
                    <div class="panel-heading" style="border-bottom: double;border-bottom-color: #9eacb4;" id="title_keys_make">新建KEY</div>
                    <div class="panel-body" id="key_form_body">
                        <div class="row">
                            <div class="col-md-4" style="margin-top: 5px">
                                <div class="input-group">
                                    <span class="input-group-addon">类型：</span>
                                    <select class="form-control" id="key_type_select">
                                        <option value="string">string</option>
                                        <option value="list">list</option>
                                        <option value="set">set</option>
                                        <option value="zset">zset</option>
                                        <option value="hash">hash</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px" id="key_name_group">
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">key名：</span>
                                    <input type="text" id="key_name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px" id="key_field_name_group">
                            <div class="col-md-5">
                                <div class="input-group"  >
                                    <span class="input-group-addon">field名：</span>
                                    <input type="text" id="key_field_name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px" id="key_score_group">
                            <div class="col-md-5">
                                <div class="input-group"  >
                                    <span class="input-group-addon">score：</span>
                                    <input type="number" id="key_score" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px" id="key_val_group">
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">值：</span>
                                    <input type="text" id="key_val" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;float: right">
                            <p style="display: none;color: #be2924" id="key_save_wran">所有字段不能为空！！！</p>
                            <div class="btn-group" style="float: right">
                                <button class="btn btn-primary" type="button" id="key_save">保存</button>
                                <button type="button" class="btn btn-default" id="key_cancel">取消</button>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body" id="key_table_body">
                        <div class="row">
                            <input type="hidden" id="oldkey" class="form-control">
                            <input type="hidden" id="oldttl" class="form-control">
                            <input type="hidden" id="oldtype" class="form-control">
                            <table id="key_value_table"></table>
                        </div>

                    </div>
                </div>

        </div>
    </div>

</div>

{% endblock %}
{% block newjs %}
<script src="/static/js/bootstrap-table.js"></script>
<script src="/static/js/bootstrap-table-zh-CN.js"></script>
<script src="/static/js/keys.js"></script>
{% endblock %}